<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vifia.module_widget">

    <application>
        <activity
            android:name=".back.activity.BackBarActivity"
            android:exported="false" />
    </application>

</manifest>